<header class="w-full bg-white shadow-sm px-6 py-4 flex justify-between items-center">
    {% include 'partials/minis/icon.html' %}


    <nav class="flex gap-4 items-center">
        <a href="/dashboard" class="text-gray-700 hover:text-indigo-600 font-medium">Dashboard</a>
        <a href="/help" class="text-gray-700 hover:text-indigo-600 font-medium">Help</a>
        <a href="/plans" class="text-gray-700 hover:text-indigo-600 font-medium">Plans</a>

        {%  include "partials/minis/hamburger_menu_r.html"%}
    </nav>
</header>
