<footer class="w-full bg-gray-100 text-center text-sm text-gray-500 py-4 mt-12 border-t">
    <a href="https://www.flaticon.com/free-icons/my-profile" title="my profile icons">My profile icons created by Nuricon - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/alert" title="alert icons">Alert icons created by Good Ware - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/settings" title="settings icons">Settings icons created by Freepik - Flaticon</a>
    <p>&copy; 2025 Worldweaver. All rights reserved.</p>
</footer>
